[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
flask-bcrypt = "*"
faker = "15.3.2"
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.8"
